<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Coffee Shop</title>

		<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">

	<!-- style -->
	<link rel="stylesheet/less" type="text/css" href="weebo-demo.less"/>

	<link rel="stylesheet" type="text/css" href="weebo-project.css">

	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- bootstrap -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="slider/jquery-ui/jquery-ui.min.css">
	<script src="slider/jquery-ui/jquery-ui.min.js"></script>

	<!-- project javascript -->
	<script type="text/javascript" src="weebo-project.js"></script>
	<script type="text/javascript" src="coffee-data.js"></script>

</head>


<body ng-app="app" ng-controller="CoffeeController">

	<div class="wrapper">

	<!-- <div id="loader"></div> -->

	<div class="coffee-header-wrapper">
		<div id="coffee-header-top">
			<div class="coffee-header-content">
				<div class="coffee-title">Coffee Shop</div>
			</div>
		</div>
		<div id="minimize-header"></div>

		<div id="coffee-header-bottom">
			<div class="outer">
				<!-- <div class="inner"> -->
					<!-- <div id="price-slider" class="header-items slider-position"> -->
						<input type="text" id="min-amount" class="header-items min-display header-items" readonly>
						<div id="slider" class="slider-display header-items"></div>
						<input type="text" id="max-amount" class="header-items max-display header-items" readonly>
						<!-- </div> -->
						<div id="product-search-wrapper" class="header-items search-display">
							<form class="product-search-form" ng-submit="productSearch()">
								<input id="product-search-input" class="input-position" placeholder="Search a product">
								<input type="submit" class="product-search-button" value="Search">
							</form>
						</div>
						<!-- <div id="filter-button-wrapper" class="header-items button-wrapper-position"> -->
							<button class="header-items filter-button button-display" id="popularity" ng-click="sortType = ''; sortReverse = !sortReverse; popularityButtonToggle = !popularityButtonToggle">
								<span ng-show="popularityButtonToggle"><span class="pop-text">Popularity </span><span class="arrow-toggle-up">&#9650;</span></span>
								<span ng-hide="popularityButtonToggle"><span class="pop-text">Popularity </span><span class="arrow-toggle-down">&#9660;</span></span>
							</button>
							<button class="header-items filter-button button-display" id="price" ng-click="sortType = 'price_raw'; sortReverse = !sortReverse; priceButtonToggle = !priceButtonToggle">
								<span ng-show="priceButtonToggle">Price <span class="arrow-toggle-down">&#9660;</span></span>
								<span ng-hide="priceButtonToggle">Price <span class="arrow-toggle-up">&#9650;</span></span>
							</button>
							<button class="header-items filter-button reset-button button-display" ng-click="sortType = ''">
								<span>Reset</span>
							</button>
							<!-- </div> -->
							<!-- </div> -->
						</div>
						<div class="outer">
							<div class="dropdown-items">
								<form class="dropdown-form">
									<select name="category-dropdown" class="select-width category-dropdown-select">
										<option value="" disabled selected>Category</option>
										<option value="">All</option>
										<option id="category-option" ng-repeat="coffeeItem in coffeeData | unique: 'category'" value="{{coffeeItem.category}">{{coffeeItem.category}}</option>			
									</select>
									<!-- <button ng-click="filterType = categoryFilter">Search by Category</button> -->
								</form>
							</div>

							<div class="dropdown-items">
								<form class="dropdown-form">
									<select name="brand-dropdown" class="select-width brand-dropdown-select">
										<option value="" disabled selected>Brand</option>
										<option value="">All</option>
										<option id="brand-option"  ng-repeat="coffeeItem in coffeeData | unique: 'brand'" value="{{coffeeItem.brand}}">{{coffeeItem.brand}}</option>			
									</select>
								</form>
							</div>

							<div class="dropdown-items">
								<form class="dropdown-form">
									<select name="merchant-dropdown" class="select-width merchant-dropdown-select">
										<option value="" disabled selected>Merchant</option>
										<option value="">All</option>					
										<option id="merchant-option"  ng-repeat="coffeeItem in coffeeData | unique: 'merchant'" value="{{coffeeItem.merchant}">{{coffeeItem.merchant}}</option>
									</select>
								</form>
							</div>
							<div class="dropdown-items">
								<form class="select-width dropdown-form filter-search-form">
									<input id="filter-search-input" placeholder="Filter results">
									<button class="filter-search-button fa fa-search fa-lg" ng-click="filterType = searchFilter"></button>
								</form>
							</div>
						</div>
					</div>

				</div>
				<div class="grid-container">
					<div id="filter-display"></div>

			<!-- 		<div class="sidebar">

						<div class="filter-search-wrapper">
							<form class="filter-search-form">
								<input id="filter-search-input" placeholder="Filter results">
								<button class="filter-search-button fa fa-search fa-lg" ng-click="filterType = searchFilter"></button>
							</form>
						</div>
						<div class="sidebar-list">
							<div class="sidebar-title">Categories</div>
							<div class="categories filter" ng-repeat="coffeeItem in coffeeData | unique: 'category'">
								<a id="category-{{coffeeItem.id}}" class="filter-link" ng-click="getScope().filterType = categoryFilter"> {{coffeeItem.category}}</a>
							</div>
							<div class="sidebar-title">Brands</div>
							<div class="brands filter" ng-repeat="coffeeItem in coffeeData | unique: 'brand'">
								<a id="brand-{{coffeeItem.id}}" class="filter-link" ng-click="getScope().filterType = brandFilter">{{coffeeItem.brand}}</a>
							</div>
							<div class="sidebar-title">Merchants</div>
							<div class="merchant filter" ng-repeat="coffeeItem in coffeeData | unique: 'merchant'">
								<a id="merchant-{{coffeeItem.id}}" class="filter-link" ng-click="getScope().filterType = merchantFilter">{{coffeeItem.merchant}}</a>
							</div>
						</div>
					</div>	 -->	

					<!-- <select ng-model="selectedName" ng-options="coffeeItem.category for coffeeItem in coffeeData | unique: 'category">
						<option value="" disabled selected>Category</option>
					</select>	 -->	

					<!-- <div class="category-dropdowm-wrapper">
						<form class="category-dropdown">
							<select name="category-dropdown" id="category-dropdown-select">
								<option value="" disabled selected>Category</option>
								<option value="">All</option>
								<option id="category-option" ng-repeat="coffeeItem in coffeeData | unique: 'category'" value="{{coffeeItem.category}">{{coffeeItem.category}}</option>			
							</select>
							<button ng-click="filterType = categoryFilter">Search by Category</button>
						</form>
					</div>

						<div class="brand-dropdowm-wrapper">
						<form class="brand-dropdown">
							<select name="brand-dropdown" class="brand-dropdown-select">
								<option value="" disabled selected>Brand</option>
								<option value="">All</option>
								<option id="brand-option"  ng-repeat="coffeeItem in coffeeData | unique: 'brand'" value="{{coffeeItem.brand}}">{{coffeeItem.brand}}</option>			
							</select>
						</form>
					</div>

					<div class="category-dropdowm-wrapper">
						<form class="category-dropdown">
							<select name="category-dropdown" class="category-dropdown-select">
								<option value="" disabled selected>Merchant</option>
								<option value="">All</option>					
								<option id="merchant-option"  ng-repeat="coffeeItem in coffeeData | unique: 'merchant'" value="{{coffeeItem.merchant}">{{coffeeItem.merchant}}</option>
							</select>
						</form>
					</div> -->

					<!-- <div class="filters"> -->

						<!-- <div class="sidebar-title">Filters</div>
						<div class="filter-search-wrapper">
							<form class="filter-search-form">
						<input id="filter-search-input" placeholder="search results"><button class="search-filter" ng-click="filterType = searchFilter">Search</button>
						</form>
						</div>
				
						<!- </div> -->

						<!-- <div class="results"> -->
							<div class="column-wrap">
								<div class="result-number">
									<span>{{resultNum}}</span>
								</div>

								<div class="coffee-data-list" ng-repeat="coffeeItem in coffeeData | orderBy:sortType:!sortReverse | filter: filterType | limitTo: itemLimit" >
									<div class="column">
										<div ng-mouseenter="nameHighlightEnter()" ng-mouseleave="nameHighlightLeave()" class="border">
											<div class="coffee-item">
												<a href="{{coffeeItem.url}}">
													<div class="logo-price">
														<img class="merchant-logo" src="{{coffeeItem.merchant_logo}}">
														<div class="price">{{coffeeItem.price}}</div>
													</div>
													<br>
													<br>
													<div class="coffee-image-wrapper">
														<img src="{{coffeeItem.image}}" class="coffee-item-image">
													</div>
													<div class="text">
														<div class="display-name">
															<a id="name-link name-link-{{coffeeItem.id}}" href="{{coffeeItem.url}}">{{coffeeItem.name}}</a>
														</div>
														<div class="brand">{{coffeeItem.brand}}</div>
														<div>{{coffeeItem.merchant}}</div>
														<div class="add-to-cart">
															<button class="button" type="submit">Add to cart</button>
															<!-- </form> -->
														</div>
													</a>
												</div>
											</div>
											<!-- </div> -->
										</div>
									</div>
								</div>
								</div>
							</div>					

						</body>
						</html>