body {
/*  padding-top: 150px;
*/  font-family: arial;
}

/*.coffee-image-wrapper {
  mix-blend-mode: multiply;
  }*/

  /*main content*/

  a {
    color: black;
  }

  .grid-container {
     display: -webkit-flex;
    display: flex;
    /*margin: 0 auto;*/
    width: 95%;
    /*max-width: 1366px;*/
    text-align: center;
  }

  .results {
    width: 80%;
    float: right;
    margin: 0 auto;
  }

  .column {
    float: left;
    height: 300px;
    margin-top: 30px;
    width: 321px;
    padding: 10px;
  }

  .coffee-item {
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 200px;*/
  }


  .button {
    display: inline-block;
    zoom: 1;
    font-weight: 600;
    color: #ffffff;
    /*background: #e62e00;*/
    /*background: #e60000;*/
    background: #f03d41;
    border-radius: 2px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    border: 0;
    -webkit-appearence: none;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -ms-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    float: none;
    z-index: 1;
    display: inline;
    width: 100%;
    font-size: 13px;
    height: 30px;
  }

  .button:hover {
    background-color: #D4292D;
    cursor: pointer;
  }

  .add-to-cart {
    text-align: center;
    margin: auto;
  }

  .coffee-item-image {
    height: 150px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

/*.coffee-column {
  height: 250px;
  width: 228px;
  }*/

  .name-link {
    color: black;
    text-decoration: none;
  }

/*.name-link:hover {
  color: #f03d41;
  text-decoration: none;
  cursor: pointer;
  }*/

  .text {
    font-family: arial;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;

  }

  .border {
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
 /*   border: 1px solid #F0F0F0;
 border: 1px solid whitesmoke;*/
}

.border:hover {
  -webkit-box-shadow: 0 0 10px silver;
  box-shadow: 0 0 10px silver;
}

.product-image-link {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.price {
  float: right;
}

.merchant-logo {
  float: left;
}

/*header*/

#coffee-header-top {
/*    position: relative;
    left: 0px;
    top: 0px;*/
    width: 100%;
    height: 100px;
    background-color: steelblue;
    /*border-top: dotted 10px #A67B5B;*/
    /*border-bottom: dotted 10px #A67B5B;*/
    z-index: 100;
  }

  .coffee-title {
    line-height: 115px;
    margin: 0 auto;
    text-align: center;
    font-family: ExpressoCaffe;
    color: white;
    font-size: 45px;
  }

  .coffee-title-small {
    font-family: ExpressoCaffe;
    color: white;
    font-size: 25px;
  }

  /*product search*/

  .search-nav {
    width: 100%;
    height: 50px;
    margin-top: -15px;
    background-color: steelblue;
    /*border-top: dotted 10px #A67B5B;*/
    /*border-bottom: dotted 10px #A67B5B;*/
  }

  #coffee-header-bottom {
    /*margin-top: -12px;*/
    height: 55px;
    padding-top: 10px;
    text-align: center;
    background-color: steelblue;
    z-index: 100;

  }

  #product-search-input {
    width: 285px;
    height: 35px;
    font-size: 16px;
    background-color: white;
    border: 0;
    border-radius: 7px;
    padding-left: 15px;
  }

  .product-search-button {
    height: 35px;
    width: 100px;
    background-color: #ffa31a;
    border: 1px solid #ffa31a;
    border-radius: 7px;
    font-size: 18px;
    color: white;
  }

  .product-search-button:hover {
    background-color: #f6931f;
    border: 1px solid #f6931f;
  }

  .search-fixed {
    position: fixed;
    width: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
  }


  #price-slider {
    /*float: left;*/
    /*margin: 0 auto;*/
    position: absolute;
    max-width: 575px;
    width: 46%;
    margin-right: 20%; 
    top: 112px;
    left: 95px;
  }

  .slider-wrapper {
    padding: 10px;
  }
  
  #slider {
  }

  #min-amount {
    float: left;
    position: relative;
    right: 75px;
    width: 65px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px lightgrey;
    /*box-shadow: 1px 1px 1px lightgrey;*/
/*  border: 0;
*/  color: #f6931f;
font-size: 20px;
font-weight: bold;
z-index: 100;

}

#max-amount {
  float: right;
  position: relative;
  left: 75px;
  bottom: 31px;
  width: 65px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px lightgrey;
  /*box-shadow: 1px 1px 1px lightgrey;*/
  /*border: 0;*/
  color: #f6931f;
  font-size: 20px;
  font-weight: bold;
  z-index: 100;
}


div.ui-slider-range.ui-widget-header {
  background: gold;
}

/*#slider {
  -webkit-slider-thumb: orange;
  }*/

/*#slider::-webkit-slider-thumb {
  background: orange;
}
*/
#filter-button-wrapper {
  position: absolute;
  top: 110px;
  right: 20px;
}

.filter-button {
  height: 35px;
  width: 145px;
  background-color: gold;
  border: 1px solid gold;
  border-radius: 7px;
  font-size: 18px;
  color: white;
  line-height: 25px;
}

.arrow-toggle-up {
  color: green;
}

.arrow-toggle-down {
  color: red;
}

.reset-button {
  background: #f03d41;
  border: solid 1px #f03d41;;
}

.reset-button:hover {
  background: #D4292D;
  border: solid 1px #D4292D;
}

.slider-maximized {

}

.slider-minimized {

}

.header-price-filter {

}

.header-popularity-filter {

}


/*custom fonts*/

@font-face {
  font-family: "ExpressoCaffe";
  src: url("fonts/Channel.ttf");
}

/*sidebar*/
.sidebar {
  float: left;
  width: 20%;
  text-align: left;
  margin-top: 39px;
}

#filter-search-wrapper {
  
}

#filter-search-input {
  width: 285px;
  height: 35px;
  font-size: 16px;
  border: solid lightgrey 1px;
  background-color: white;
  border-radius: 7px;
  padding-left: 15px;
}

.filter-search-button {
  height: 35px;
  width: 35px;
  background-color: silver;
  border: 1px solid silver;
  border-radius: 7px;
  color: white;
  position: relative;
  bottom: 2px;
}

.filter-search-button:hover {
  background-color: #A0A0A0;
  border: 1px solid #A0A0A0;
}


.filters {
  padding: 25px;
  position: fixed;
  background-color: grey;
}

.sidebar-list {
  margin-top: 20px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}

.brands {

}

.merchants {

}

.categories {

}

.filter-link {
  color: black;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
}

.filter-link:hover {
  color: #f6931f;
  text-decoration: none;
}

/*footer*/

.footer-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background-color: steelblue;
}

.update-price:hover {
  background-color: #0675A2;
}

/*media queries*/

@media only screen and (max-width: 1440px) {
  #price-slider {
    width: 335px;
  }
}

@media only screen and (max-width: 1323px) {
  .filter-button {
    width: 25%;
  }
}

@media only screen and (max-width: 600px) {
  .slider-wrapper {
    width: 300px;
  }
}
