body {
  padding-top: 150px;
}

/*.coffee-image-wrapper {
  mix-blend-mode: multiply;
}*/

/*main content*/

.grid-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
  text-align: center;
}

.column {
  float: left;
  height: 300px;
  width: 321px;
  padding: 10px;
}

.coffee-item {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*max-width: 200px;*/
}


.button {
  display: inline-block;
  zoom: 1;
  font-weight: 600;
  color: #ffffff;
  background: #f03d41;
  border-radius: 2px;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  border: 0;
  -webkit-appearence: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  float: none;
  z-index: 1;
  display: inline;
  width: 100%;
  font-size: 13px;
  height: 30px;
}

.button:hover {
  background-color: #D4292D;
  cursor: pointer;
}

a {
  color: black;
}

.add-to-cart {
  text-align: center;
  margin: auto;
}

.coffee-item-image {
  height: 150px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

/*.coffee-column {
  height: 250px;
  width: 228px;
}*/

.name-link {
  color: black;
  text-decoration: none;
}

/*.name-link:hover {
  color: #f03d41;
  text-decoration: none;
  cursor: pointer;
}*/

.t-shirts-price {
  color: #777777;
}

.text {
  font-family: arial;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;

}

.border {
  padding: 15px;
  cursor: pointer;
}

.border:hover {
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px grey;
}

.product-image-link {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.price {
  float: right;
}

.merchant-logo {
  float: left;
}

/*navbar*/

.coffee-header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: grey;
  /*border-top: dotted 10px #A67B5B;*/
  /*border-bottom: dotted 10px #A67B5B;*/
  z-index: 100;
}

.coffee-title {
  line-height: 115px;
  margin: 0 auto;
  text-align: center;
  font-family: ExpressoCaffe;
  color: white;
  font-size: 45px;
}


/*custom fonts*/

@font-face {
  font-family: "ExpressoCaffe";
  src: url("fonts/Channel.ttf");
  }

/*horizontal divider*/

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    border-color: white;
}

hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    color: white;
    background: #6f4e37;
}

/*price slider*/

.price-selector {
  margin: 0 auto;
  width: 500px;
}